
#apply-cars-v4 {
	background-color: #007ea6;
	border-top: 17px solid white;
	position: relative;
	color: #fff;
	min-height: 77vh;

	@media ( max-width: @screen-sm-max ) {
		
	    .ta-left.back-step {
	    	display: block;
		    width: 100%;
		    padding: 10px;
		    background: rgba(0,0,0,.2);
		    margin-top: 10px;
		    text-decoration: none;

	    	&:visited,
	    	&:active,
	    	&:hover {
	    		color: #fff;
	    	}
		    
		    .loadiuj-xs {
		    	float: right;
		    }
	    }
	}

	@media ( max-width: @screen-xs-max ) {

	    .ta-left.back-step {
	    	display: block;
		    width: 100%;
		    padding: 10px;
		    background: rgba(0,0,0,.2);
		    margin-top: 10px;
		    text-decoration: none;

	    	&:visited,
	    	&:active,
	    	&:hover {
	    		color: #fff;
	    	}
		    
		    .loadiuj-xs {
		    	float: right;
		    }
	    }
	}
}

.step-query-registration {

	text-align: center;

	&__message {
		font-family: BebasNeueRegular,Helvetica,Arial,sans-serif;
	    font-size: 70px;
	    line-height: 100%;

	    span.palid-yellow { color: #FBF9C7!important; }
	}

	&__form {
		padding-top: 10px;
		text-align: left;

		span {
			font-size: 20px;
		}
	}

	&__form-registration {
	
		input {
			color: #999;
		    padding: 10px;
		    border: none;
		    text-align: center;
		    width: 200px;
		    margin: 10px 0;
		    border-radius: 10px;
		    font-family: BebasNeueRegular,Helvetica,Arial,sans-serif;
		    font-size: 50px;
		}

		.errorPlate {
			display: block;
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	&__success {
		display: block;
		text-align: center;
	}

	@media ( max-width: @screen-sm-max ) {

	    &__message {
			text-align: center;
			font-size: 40px;
	    }

		&__form {
			padding-top: 10px;
			text-align: center;

			span {
				font-size: 19px;
				margin-bottom: 0;
			}

			// br { display: none; }
		}

	    &__form-registration {
	      	text-align: center;
	      	display: block;
	    }
	}

	@media ( max-width: @screen-xs-max ) {

	    &__message {
			text-align: center;
			font-size: 40px;
	    }

		&__form {
			padding-top: 10px;
			text-align: center;

			span {
				font-size: 16px;
				margin-bottom: 0;
			}

			// br { display: none; }
		}

	    &__form-registration {
	      	text-align: center;
	      	display: block;
	    }

	    #plate {
	      	font-size: 30px;
	    }
	}

}