
#apply-cars-v4 {
	background-color: #007ea6;
	border-top: 17px solid white;
	position: relative;
	color: #fff;
	min-height: 77vh;
}

.step-query-registration {

	text-align: center;

	&__message {
		font-family: BebasNeueRegular,Helvetica,Arial,sans-serif;
	    font-size: 70px;
	    line-height: 100%;

	    span.palid-yellow { color: #FBF9C7!important; }
	}

	&__form {
		padding-top: 10px;
		text-align: left;

		span {
			font-size: 20px;
		}
	}

	&__form-registration input {
		color: #999;
	    padding: 10px;
	    border: none;
	    text-align: center;
	    width: 200px;
	    margin: 10px 0;
	    border-radius: 10px;
	    font-family: BebasNeueRegular,Helvetica,Arial,sans-serif;
	    font-size: 50px;
	}

	&__success {
		display: block;
		text-align: center;
	}

}