.step {
	h1 {
		font-family: BebasNeueRegular, Helvetica, Arial, sans-serif;
	    color: #fff;
	    text-align: center;
	    margin-top: 70px;
	    text-shadow: 0 1px 3px rgba( 0 , 0, 0, .2 );
	    margin-bottom: 40px;
	    font-size: 37px;
	}
}

.loading-uj {
	font-size: 20px;
    color: #fff;
    font-family: OpenSans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    position: relative;
    width: 200px;
    height: 0;
    line-height: 40px;
    left: 50%;
    margin-left: -100px;
    z-index: 9000000;
}