.step-phone-numbers {

	text-align: center;

	h3 {
		font-size: 16px;
	    color: #fff;
	    font-weight: 300;
	    font-family: OpenSans,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	&__form {
		> div:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	dl {
		margin-top: 0;
    	margin-bottom: 20px;
	}

	.iconuj {
		font-size: 50px;
	    color: #fff;
	    vertical-align: middle;
	    text-align: right;
	    float: left;
	    max-width: 130px;
	}

	dd {
		margin-left: 180px;
	}
}